<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chat">
	<insert id="insertChat" parameterType="chat">
		<selectKey keyProperty="chatNo" resultType="int" order="BEFORE">
			SELECT CHAT_SEQ.NEXTVAL FROM SYS.DUAL
		</selectKey> 
		INSERT INTO CHAT VALUES (#{chatNo}, #{userEmail}, #{message}, sysdate)
	</insert> 
</mapper>