<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<!-- 외부에서 접근할수 있는 이름을 namespace 속성에 기입 -->
<mapper namespace="Member">
	<!-- 원하는 객체의 필드에 담아 반환하고자 할때 사용 -->
	<resultMap id="resultMember" type="Member">
		<!-- prop는 필드명, column은 DB 컬럼 명 -->
		<id property="id" column="ID"/>
		<result property="passwd" column="PASSWD"/>
	</resultMap>
	
	<!-- id는 dao에서 적은 값. parameterType은 구문에 전달될 파라미터의 클래스명이나 별칭 사용. resultType은 return 값을 의미 -->
	<select id="memberInfo" parameterType="string" resultType="string">
		SELECT * FROM PJ.MEMBERINFO WHERE ID = #{ID}
	</select>
	<!-- #{} 으로 인해 쿼리의 마지막을 알리는 세미 콜론을 찍지 않는다-->
</mapper>