<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="order">		
	<insert id="orderEnd" parameterType="order">
		<selectKey keyProperty="orderNo" resultType="int" order="BEFORE">
			SELECT ORDERDETAIL_SEQ.NEXTVAL FROM SYS.DUAL
		</selectKey>
		INSERT INTO ORDERDETAIL VALUES (#{orderNo}, #{orderEmail}, #{orderName}, #{orderPhone}, 
			#{orderAddr1}, #{orderAddr2}, #{orderAddr3}, #{allPrice}, #{orderNote}, sysdate, #{orderUid}, #{snackNo})
	</insert>
	
	<select id="shopEnd" parameterType="hashmap" resultType="order">
		SELECT O.ORDERNAME AS "orderName", O.ORDEREMAIL AS "orderEmail", O.ORDERPHONE AS "orderPhone", 
				O.ORDERADDR1 AS "orderAddr1", O.ORDERADDR2 AS "orderAddr2", O.ORDERADDR3 AS "orderAddr3", O.ALLPRICE AS "allPrice",
				O.ORDERUID AS "orderUid", S.SKNAME AS "snackName"
		FROM ORDERDETAIL O
		JOIN SNACK S
		ON S.SKNO = #{snackNo}
		WHERE ORDERUID = #{orderUid}
	</select>
</mapper>