<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="review">
	<select id="reviewList" resultType="hashmap">
		SELECT 
		R.REVIEWNO AS "reviewNo"
		, R.TITLE AS "title"
		, S.USERNAME AS "writer"
		, R.CREATEDATE AS "createDate"
		, R.VIEWCNT AS "viewCnt"
		FROM REVIEW R
		JOIN SHOP_USER S
		ON R.USEREMAIL = S.USEREMAIL		
	</select>
	<insert id="insertEnd" parameterType="review">
		<selectKey keyProperty="reviewNo" resultType="int" order="BEFORE">
				SELECT REVIEWNO_SEQ.NEXTVAL FROM SYS.DUAL
		</selectKey>
		INSERT INTO review(
			REVIEWNO,
			TITLE,
			CONTENT,
			USEREMAIL,
			CREATEDATE
		) VALUES (
			#{reviewNo},
			#{title},
			#{content},
			#{userEmail},
			sysdate
		)	
	</insert>
</mapper>