<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="snack">
	<select id="snackList" resultType="hashmap">
		SELECT SKNO AS "snackNo", SKNAME AS "snackName", SKIMG AS "snackImg", PRICE AS "price", SALES AS "sales", SKDATE AS "snackDate"
		FROM SNACK
	</select>
	
	<select id="snack" parameterType="int" resultType="snack">
		SELECT SKNO AS "snackNo", SKNAME AS "snackName", SKIMG AS "snackImg", SKDETAILS AS "snackDetail", PRICE AS "price", SALES AS "sales"
		FROM SNACK
		WHERE SKNO = #{snackNo}
	</select>
</mapper>